<form  class="container" [formGroup]="invoiceBuild" (ngSubmit)="saveInvoice()">
    <div class="card">
        <h3>{{pageTitle}}</h3>
        <div class="card-header">
           
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>Invoice No</label>
                        <span class="text-danger">*</span>
                        <input formControlName="invoiceNo" class="form-control">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>Customer</label>
                        <span class="text-danger">*</span>
                        <select  formControlName="customerId" (change)="customerChange()" class="form-control" >
                            <option *ngFor="let item of masterCustomer" [value]="item.code">
                                {{item.name}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>Addres</label>
                        <span class="text-danger">*</span>
                        <textarea formControlName="deleveryAdress" class="form-control"></textarea>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>Remarks</label>
                        <span class="text-danger">*</span>
                        <textarea formControlName="remarks" class="form-control"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
              <table class="table table-bordered" formArrayName="detalis">
                <thead >
                  <tr>
                    <th class="bg-primary text-white">No</th>
                    <th class="bg-primary text-white">Product Code</th>
                    <th class="bg-primary text-white">Description</th>
                    <th class="bg-primary text-white">Quantity</th>
                    <th class="bg-primary text-white">Price</th>
                    <th class="bg-primary text-white">Total</th>
                    <th class="bg-primary text-white">Action</th>
                  </tr>
                </thead>
                <tbody>
                 <tr *ngFor=" let  item  of invproducts.controls; let i = index" [formGroupName]="i">
                    <td>
                        {{i + 1}}
                    </td>
                    <td>
                        <select class="form-control" (change)="changeProduct(i)" formControlName="productCode">
                            <option *ngFor="let item of masterProduct" [value]="item.code">
                                {{item.name}}
                            </option>
                        </select>
                    </td>
                    <td>
                        <input class="form-control" formControlName="productName"/>
                    </td>
                    <td>
                        <input class="form-control" formControlName="qty"/>
                    </td>
                    <td>
                        <input class="form-control" formControlName="salesPrice"/>
                    </td>
                    <td>
                        <input class="form-control" formControlName="total"/>
                    </td>
                    <td>
                        <a class="btn btn-danger" >Remove</a>
                    </td>
                 </tr>
                </tbody>
                <tfoot>
                    <a (click)="addNewProduct()" class="btn btn-success">[+]</a>
                </tfoot>
              </table>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-4">
                <div class="form-group">
                    <label >Summary Total</label>
                    <input formControlName="total" class="form-control">
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label >Summary Tax</label>
                    <input formControlName="tax" class="form-control">
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label >Summary NetTotal</label>
                    <input formControlName="netTotal" class="form-control">
                </div>
            </div>
            <div class="col-lg-12">
                <button class="btn btn-success" type="submit"> Save </button>
            </div>
        </div>
    </div>
</form>
